$pink: #ffd1dc;
$red: #ff1b1c;

.script-description {
  overflow: hidden;

  .node-id-input {
    border-color: $pink;
  }

  .execute-button {
    background-color: $pink;
    color: $red;
    font-weight: 600;
    font-size: 20px;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    outline: none;
    transition: background-color 0.5s, color 0.5s;

    margin-bottom: 20px;
    margin-top: 20px;

    &:hover:not([disabled]) {
      background-color: $red;
      color: $pink;
    }
  }

  .execute-button-disabled {
    opacity: 0.5;
  }

  .output-wrapper {
    // background-color: $pink;
    // color: $red;
    border-radius: 20px;
    border-width: 2px;
    // border-color: $pink;
    overflow: auto;

    textarea {
      resize: none;
      // background-color: $pink;
      // color: $red;
      border-radius: 20px;
      border-width: 0px;
      outline: none;
    }

    textarea[readonly] {
      // background-color: $pink;
      // color: $red;
      border-radius: 20px;
      border-width: 0px;
      outline: none;
    }
  }
}
