.dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.dashboard-title {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.dashboard-main-content {
  flex: 1;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-top: 40px;
  padding-left: 140px;

  // align-items: center;
  // text-align: center;
  // margin-top: 80px;
  // margin-left: 80px;
  // width: 25%;
  // height: 100%;
  // background-color: rgb(255, 0, 0, 0.2);
  // border-radius: 25px;
}

body {
  overflow: auto;
}

.grid-container {
  display: inline-block;
  column-gap: 50px;
  width: 500px;
  height: 300px;
}

h1 {
  padding-top: 30px;
}
