.dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.dashboard-title {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.dashboard-main-content {
  flex: 1;
  padding: 20px;
}

.dash {
  margin-top: 80px;
  margin-left: 80px;
  width: 400px;
  height: 300px;
}
