body {
  background-color: rgb(255, 255, 255);
}

.layout {
  height: 860px;
  display: grid;
  grid-gap: 5px;

  grid-template-columns: repeat(16, lfr);
  grid-template-rows: 20% 80%;

  grid-template-areas:
    ". h h h h h h h h h h h h h h ."
    ". l l l l l l l l l r r r r r ."
    ". f f f f f f f f f f f f f f .";
}

.header {
  grid-area: h;
  background-color: white;
}

.left_side {
  grid-area: l;
  background-color: rgb(129, 123, 123);
}

.right_side {
  grid-area: r;
  background-color: rgb(113, 216, 113);
  border-left: 5px;
  border-left-style: groove;
}
